#body_catalog {
    padding: 40px 0;
}
#body_catalog .layout {
    display: flex;
    flex-wrap: wrap;
}
#filter {
    width: 25%;
    padding-right: 20px;
}
#product-list_block {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}
.name_category-catalog {
    width: 75%;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
}
.sort-catalog {
    width: 25%;
}
.product-list-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.title-filter {
    margin: 0;
}
h1.title-filter {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}
.category-list {
    margin-bottom: 20px;
}
.category-list a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}
.category-list a.active {
    color: #FDA817;
}
h2.title-filter {
    margin-bottom: 20px;
}
.filter-list select {
    width: 60%;
    margin-bottom: 20px;
}
.filter-list input[type="number"] {
    margin-bottom: 20px;
    width: 30%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.item-prod {
    position: relative;
    width: 30%;
    height: 310px;
    margin-right: 3%;
    margin-bottom: 20px;
    background: #fff;;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(85, 94, 101, 0.56);
    -moz-box-shadow: 0px 0px 20px -5px rgba(85, 94, 101, 0.56);
    box-shadow: 0px 0px 20px -5px rgba(85, 94, 101, 0.56);
}
.img_item-prod {
    width: 100%;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 180px;
}
h3.name_item-prod {
    height: 44px;
    margin: 0;
    margin-top: 10px;
    overflow: hidden;
    font-size: 16px;
}
h3.price_item-prod {
    margin: 0;
    margin-top: 14px;
    margin-left: 10px;
    color: #FDA817;
    font-size: 24px;
    overflow: hidden;
}
h3.price_item-prod::after {
    content: ' ₽';
}
button.add-basket_item-prod {
    width: 50px;
    height: 39px;
    background: linear-gradient(108.27deg,#FCA918 12.67%,#FBB321 86.47%);
    box-shadow: 0 2px 7px rgba(0,0,0,.1);
    border-radius: 50px;
    border: 0;
    position: absolute;
    bottom: 11px;
    right: 20px;
    cursor: pointer;
}
.img_add-basket {
    width: 100%;
    height: 100%;
    background-image: url(../img/main/cart.svg);
    background-position: center;
    background-repeat: no-repeat;
}
button.add-basket_item-prod:hover {
    background: linear-gradient(108.27deg,rgba(252,169,24,.8) 12.67%,rgba(251,179,33,.8) 86.47%);
}
.sale_item-prod {
    background: #FDA817;
    box-shadow: 0 2px 7px rgba(0,0,0,.1);
    border-radius: 10px 10px 10px 0;
    color: #fff;
    font-weight: 700;
    line-height: 134.2%;
    letter-spacing: -.1px;
    margin-left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 75px;
    position: absolute;
    top: 10px;
    left: 0px;
}
.sale_item-prod::before {
    content: "";
    width: 10px;
    height: 8.5px;
    background: url(../img/main/vector-orange.svg) 0 0 no-repeat;
    position: absolute;
    left: 0;
    bottom: -8px;
}
.sale_item-prod::after {
    content: '%';
}
.button_filter {
    width: 80%;
    margin-top: 20px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background: linear-gradient(180deg,#FE9506 0%,#FAC333 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
